<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrossFitter Overview</title>
</head>
<body>
<h1>Overview of the CrossFitter in this database</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="crossfitter: ${allCrossFitters}">
        <td th:text="${crossfitter.crossFitterId}" />
        <td th:text="${crossfitter.name}" />
        <td></td>
    </tr>
</table>

<h1>Add a new CrossFitter</h1>
<form th:action="@{/crossfitter/add}" th:object="${crossFitter}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Submit" /></p>

</form>

</body>
</html>