<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <title>CrossFitter Overview</title>
</head>
<body>
<img src="/css/images/Zo-ziet-crossfit-eruit.jpg" height="531" width="800"/>
<h1>Overview of the CrossFitter in this database</h1>

<table id="crossfittersoverview">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="crossfitter: ${allCrossFitters}">
        <td th:text="${crossfitter.crossFitterId}" />
        <td><a th:href="@{/crossfitter/{crossfitterName}(crossfitterName=${crossfitter.name})}" th:text="${crossfitter.name}"/></td>
<!--        <td th:text="${crossfitter.name}" />-->
    </tr>
</table>

<p>
    <a th:href="@{/workout}">Workout overview</a>
</p>
<h1>Add a new CrossFitter</h1>
<form th:action="@{/crossfitter/add}" th:object="${crossFitter}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Submit" /></p>

</form>



</body>
</html>